# StudentShare Client Environment Variables
# For Local Development:
# VITE_API_URL=http://localhost:5000/api

# For Production (Render Frontend Static Site / Web Service):
VITE_API_URL=https://studentshare-backend-map3.onrender.com/api
